body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flaxible-container{
    display: flex;
}
#first-border{
    border-left: 5px solid #FF5959;
    line-height: 30px;
    padding-left: 10px;
    padding-top: 3%;
    margin-top: 20%;
}
.mission-color{
    color: #FFAD5A;
}
.half-width{
    width: 50%;
    padding-left: 8%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 10px 40px;
    font-weight: 500;
    border-radius: 5px;
}
.mission-area{
    display: flex;
}
.second-header{
    text-align: center;
}
.one-third-width img{
    width: 50%;
}
.one-third-width{
    margin-left: 100px;
    padding: 20px;
    background-color: lightgray;
    border-radius: 20px;
}
.two-thirds-width img{
    width: 50%;
}
.two-thirds-width{
    margin-left: 80px;
    padding: 20px;
    background-color: lightpink;
    border-radius: 20px;
}
.three-thirds-width img{
    width: 50%;
}
.three-thirds-width{
    background-color: lightsalmon;
    padding: 20px;
    border-radius: 20px;
    margin-left: 80px;
    margin-right: 100px;
}
.develop-area{
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
    margin-top: 150px;
    margin-left: 50px;
}
.develop-first-part{
    width: 65%;
    margin-left: 10%;
}
.develop-first-part img{
    width: 100%;
}
.develop-second-part{
    margin-left: 100px;
    margin-right: 100px;
}